.treeNavUnselected {
    list-style-image:  url(../img/side.png);
    cursor: pointer;   
}

/* Direct Children only */
.treeNavUnselected > ul { display: none; }

.treeNavSelected {
    list-style-image:  url(../img/down.png);
    cursor: pointer;       
}

/* Direct Children only */
.treeNavSelected > ul { display: block; } 
